# Conectamos al laboratorio SQL

In [ ]:
 !pip install sqlalchemy
 !pip install mysql-connector-python
 !pip install openpyxl

^C

# Importamos librerias

In [ ]:
from sqlalchemy import create_engine
import sqlalchemy
import mysql.connector as mysql
import pandas as pd
import numpy as np

# Extablecemos conexiones con MySQL

In [ ]:
# Parámetros de conexión
user     = 'root'
password = 'xxxx'
db = 'xxxx'
sqlServer = 'localhost' # debería ser IP o DNS del servidor de la base de datos

# Creamos string de conexión
connStr = "mysql+mysqlconnector://" + user + ":" + password + "@" + sqlServer +  "/"  + db

# print de string de conexión
print (connStr)

# Conectamos con el servidor
conn = create_engine(connStr).connect()

mysql+mysqlconnector://root:rastreator@localhost/NUCLIO

In [ ]:
Alojamiento = pd.read_excel(r'C:\Users\javier.pina\Desktop\PLAN PIÑA\NUCLIO\4.SQL\Proyecto final\ALOJAMIENTO.xlsx')
Alojamiento

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ001,Villa Sol del Mar,2,3,SI,SI,SI,SI,120
1,ALOJ002,Apartamento Las Palmeras,1,2,SI,NO,SI,NO,75
2,ALOJ003,Cabaña El Refugio,1,1,NO,SI,NO,NO,45
3,ALOJ004,Piso Centro Histórico,2,3,SI,SI,SI,NO,90
4,ALOJ005,Estudio Playa Blanca,1,1,NO,NO,SI,NO,40
5,ALOJ006,Chalet Vista al Lago,3,4,SI,SI,SI,SI,150
6,ALOJ007,Dúplex Jardines del Sur,2,3,SI,SI,SI,SI,130
7,ALOJ008,Loft Urbano,1,1,SI,NO,SI,NO,60
8,ALOJ009,Casa Rústica Montaña,2,2,SI,SI,NO,NO,85
9,ALOJ010,Ático del Sol,3,3,SI,SI,SI,NO,88
10,ALOJ011,Cabaña Bosque Encantado,1,2,NO,SI,NO,NO,65
11,ALOJ012,Villa Palmeras,2,3,SI,SI,SI,SI,110
12,ALOJ013,Apartamento Moderno,1,2,SI,NO,SI,NO,80
13,ALOJ014,Casa del Mar,3,4,SI,SI,SI,SI,160
14,ALOJ015,Dúplex Las Rocas,3,4,SI,SI,SI,NO,120
15,ALOJ016,Estudio Urbano,1,1,NO,NO,SI,NO,35
16,ALOJ017,Chalet Jardín Secreto,3,5,SI,SI,SI,SI,180
17,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100
18,ALOJ019,Casa Río Claro,2,2,SI,SI,NO,NO,95
19,ALOJ020,Loft Estación Norte,1,1,SI,NO,SI,NO,55

In [ ]:
sSQLAl = """ 
    CREATE TABLE Alojamiento (
         codigo_alojamiento VARCHAR(15) PRIMARY KEY NOT NULL,
         nombre VARCHAR(100),
         cant_banyos INT,
         cant_hab INT,
         salon VARCHAR(2) CHECK ( salon IN ('SI','NO')),
         terraza VARCHAR(2) CHECK ( terraza IN ('SI','NO')),
         airec_acond VARCHAR(2) CHECK ( airec_acond IN ('SI','NO')),
         piscina VARCHAR(2) CHECK ( piscina IN ('SI','NO')),
         superficie INT
         ) 
         """
conn.execute(sSQLAl)

In [ ]:
Precio = pd.read_excel(r'C:\Users\javier.pina\Desktop\PLAN PIÑA\NUCLIO\4.SQL\Proyecto final\PRECIO.xlsx')
Precio

   CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0             ALOJ001             1800      SI                 100
1             ALOJ002              780      SI                  25
2             ALOJ003              800      NO                   0
3             ALOJ004             1600      SI                  25
4             ALOJ005              900      NO                   0
5             ALOJ006             1200      NO                   0
6             ALOJ007             1300      NO                   0
7             ALOJ008             1500      SI                  25
8             ALOJ009             1600      SI                 100
9             ALOJ010             1750      SI                  25
10            ALOJ011             1825      NO                   0
11            ALOJ012             1750      NO                   0
12            ALOJ013             1652      NO                   0
13            ALOJ014             1941      NO                   0
14            ALOJ015             1800      SI                  25
15            ALOJ016             2000      SI                  30
16            ALOJ017             2120      NO                   0
17            ALOJ018             1900      SI                  25
18            ALOJ019             1570      NO                   0
19            ALOJ020             1580      NO                   0

In [ ]:
sSQLPr = """"
    CREATE TABLE Precio (
    codigo_alojamiento VARCHAR(10) PRIMARY KEY NOT NULL,
    precio_alquiler FLOAT,
    reserva vARCHAR(2) CHECK (reserva IN ('SI','NO')),
    porcentaje_reserva FLOAT
)
"""
conn.execute(sSQLPr)

In [ ]:
Puntuacion = pd.read_excel(r'C:\Users\javier.pina\Desktop\PLAN PIÑA\NUCLIO\4.SQL\Proyecto final\PUNTUACION.xlsx')
Puntuacion

   CODIGO_ALOJAMIENTO  PUNTOS            AGENCIA  PUNTOS_AGENCIA
0             ALOJ001     5.0         GlobalHome             4.4
1             ALOJ002     4.2         AndesRenta             4.1
2             ALOJ003     4.1       AlquilaFacil             4.0
3             ALOJ004     4.6         CaribeRent             4.6
4             ALOJ005     4.4           RentaTop             3.8
5             ALOJ006     4.3         TerraHouse             4.9
6             ALOJ007     4.9       SevillaRooms             4.5
7             ALOJ008     4.8          ChileVive             4.3
8             ALOJ009     4.7         MexicoRent             4.8
9             ALOJ010     4.8          UYAlquila             4.9
10            ALOJ011     4.0      MalagaTurismo             4.9
11            ALOJ012     4.2        CórdobaStay             4.6
12            ALOJ013     3.8         AndesElite             4.3
13            ALOJ014     4.7        BogotaLodge             4.5
14            ALOJ015     4.9  EasyStay Valencia             4.7
15            ALOJ016     4.3    PuntaAlquileres             4.4
16            ALOJ017     4.9         CuscoRenta             4.4
17            ALOJ018     4.7       MendozaRooms             4.7
18            ALOJ019     4.9            GDLRent             4.2
19            ALOJ020     4.9           VivaStay             4.9

In [ ]:
sSQLPun = """
    
    CREATE TABLE Puntuacion (
        codigo_alojamiento VARCHAR(10) PRIMARY KEY NOT NULL,
        puntos FLOAT,
        agencia VARCHAR(100),
        puntos_agencia FLOAT 
)
"""
conn.execute(sSQLPun)

In [ ]:
Ubicacion = pd.read_excel(r'C:\Users\javier.pina\Desktop\PLAN PIÑA\NUCLIO\4.SQL\Proyecto final\UBICACION.xlsx')
Ubicacion

   CODIGO_ALOJAMIENTO      PAIS     CIUDAD  DIST_METRO  DIST_CENTRO
0             ALOJ001  Portugal      Liboa         1.0          2.0
1             ALOJ002    España     Madrid         0.5          0.8
2             ALOJ003    España  Barcelona         0.9          0.4
3             ALOJ004   Francia   Marsella         3.0          4.0
4             ALOJ005  Portugal     Oporto         4.0          3.0
5             ALOJ006   Francia      Paris         2.0          2.0
6             ALOJ007   Francia   Toulouse         1.0          3.0
7             ALOJ008    España  Barcelona         2.0          3.0
8             ALOJ009    España     Madrid         2.0          4.0
9             ALOJ010    España     Bilbao         2.0          5.0
10            ALOJ011    Italia      Milan         0.5          0.7
11            ALOJ012    Italia       Roma         1.0          0.8
12            ALOJ013    España    Sevilla         2.0          0.9
13            ALOJ014    Italia   Cerdegna         0.9          4.0
14            ALOJ015    España     Málaga         2.0          4.0
15            ALOJ016    Italia       Roma         2.0          2.0
16            ALOJ017   Francia      Paris         1.0          2.0
17            ALOJ018    España      Ibiza         2.0          4.0
18            ALOJ019  Portugal      Lagos         2.0          2.0
19            ALOJ020  Portugal    Madeira         3.0          2.0

In [ ]:
sSQLUb = """
    CREATE TABLE Ubicacion (
         codigo_alojamiento VARCHAR(10) PRIMARY KEY NOT NULL,
         pais VARCHAR(30),
         ciudad VARCHAR (30),
         dist_metro FLOAT,
         dist_Centro FLOAT
    )
    """
conn.execute(sSQLUb)

Utilizamos to_sql para cargar los datos a traves de sqlAlquemy

In [ ]:
Alojamiento.to_sql('Alojamiento', conn, if_exists='append',index=False)
Precio.to_sql('Precio',conn, if_exists='append', index=False)
Puntuacion.to_sql('Puntuacion',conn, if_exists='append', index=False)
Ubicacion.to_sql('Ubicacion', conn, if_exists='append', index=False)

# PRIMER PASO

El cliente exige terraza y aire acondicionado, pero no quiere piscina

In [ ]:
consulta1 = """
           SELECT *
           FROM alojamiento
           WHERE terraza = 'SI'
           AND airec_acond = 'SI'
           AND piscina = 'NO'
"""
pd.read_sql(consulta1, conn)

,Codigo_alojamiento,Nombre,Cant_Banyos,Cant_Hab,Salon,Terraza,Airec_acond,Piscina,Superficie
0,ALOJ004,Piso Centro Histórico,2,3,SI,SI,SI,NO,90
1,ALOJ010,Ático del Sol,3,3,SI,SI,SI,NO,88
2,ALOJ015,Dúplex Las Rocas,3,4,SI,SI,SI,NO,120
3,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100

No se alojará en estudios que no tengan salón ni en propiedades con solo un baño

In [ ]:
consulta2 = """
            SELECT *
            FROM alojamiento
            WHERE salon = 'SI'
            AND cant_banyos >= 2
"""
pd.read_sql(consulta2, conn)

,Codigo_alojamiento,Nombre,Cant_Banyos,Cant_Hab,Salon,Terraza,Airec_acond,Piscina,Superficie
0,ALOJ001,Villa Sol del Mar,2,3,SI,SI,SI,SI,120
1,ALOJ004,Piso Centro Histórico,2,3,SI,SI,SI,NO,90
2,ALOJ006,Chalet Vista al Lago,3,4,SI,SI,SI,SI,150
3,ALOJ007,Dúplex Jardines del Sur,2,3,SI,SI,SI,SI,130
4,ALOJ009,Casa Rústica Montaña,2,2,SI,SI,NO,NO,85
5,ALOJ010,Ático del Sol,3,3,SI,SI,SI,NO,88
6,ALOJ012,Villa Palmeras,2,3,SI,SI,SI,SI,110
7,ALOJ014,Casa del Mar,3,4,SI,SI,SI,SI,160
8,ALOJ015,Dúplex Las Rocas,3,4,SI,SI,SI,NO,120
9,ALOJ017,Chalet Jardín Secreto,3,5,SI,SI,SI,SI,180
10,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100
11,ALOJ019,Casa Río Claro,2,2,SI,SI,NO,NO,95

La propiedad debe tener como mínimo 80m2

In [ ]:
consulta3 = """
          SELECT *
          FROM alojamiento
          WHERE superficie >= 80
"""
pd.read_sql(consulta3, conn)

,Codigo_alojamiento,Nombre,Cant_Banyos,Cant_Hab,Salon,Terraza,Airec_acond,Piscina,Superficie
0,ALOJ001,Villa Sol del Mar,2,3,SI,SI,SI,SI,120
1,ALOJ004,Piso Centro Histórico,2,3,SI,SI,SI,NO,90
2,ALOJ006,Chalet Vista al Lago,3,4,SI,SI,SI,SI,150
3,ALOJ007,Dúplex Jardines del Sur,2,3,SI,SI,SI,SI,130
4,ALOJ009,Casa Rústica Montaña,2,2,SI,SI,NO,NO,85
5,ALOJ010,Ático del Sol,3,3,SI,SI,SI,NO,88
6,ALOJ012,Villa Palmeras,2,3,SI,SI,SI,SI,110
7,ALOJ013,Apartamento Moderno,1,2,SI,NO,SI,NO,80
8,ALOJ014,Casa del Mar,3,4,SI,SI,SI,SI,160
9,ALOJ015,Dúplex Las Rocas,3,4,SI,SI,SI,NO,120
10,ALOJ017,Chalet Jardín Secreto,3,5,SI,SI,SI,SI,180
11,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100
12,ALOJ019,Casa Río Claro,2,2,SI,SI,NO,NO,95

Como el cliente odia el ruido, no quiere alojarse en propiedades a menos de 1 km
de una estación de metro ni a menos de 2 km del centro.

In [ ]:
consulta4 = """
          SELECT *
          FROM ubicacion
          WHERE dist_metro > 1.0
          AND dist_centro > 2.0
"""
pd.read_sql(consulta4, conn)

  Codigo_alojamiento      Pais     Ciudad  Dist_metro  Dist_Centro
0            ALOJ004   Francia   Marsella         3.0          4.0
1            ALOJ005  Portugal     Oporto         4.0          3.0
2            ALOJ008    España  Barcelona         2.0          3.0
3            ALOJ009    España     Madrid         2.0          4.0
4            ALOJ010    España     Bilbao         2.0          5.0
5            ALOJ015    España     Málaga         2.0          4.0
6            ALOJ018    España      Ibiza         2.0          4.0

El rango permitido por el cliente para pagar es entre 1.500€ y 2.000€ la noche.

In [ ]:
consulta5 = """
          SELECT *
          FROM precio
          WHERE precio_alquiler BETWEEN 1500 AND 2000 
"""
pd.read_sql(consulta5, conn)

   CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0             ALOJ001             1800      SI                 100
1             ALOJ004             1600      SI                  25
2             ALOJ008             1500      SI                  25
3             ALOJ009             1600      SI                 100
4             ALOJ010             1750      SI                  25
5             ALOJ011             1825      NO                   0
6             ALOJ012             1750      NO                   0
7             ALOJ013             1652      NO                   0
8             ALOJ014             1941      NO                   0
9             ALOJ015             1800      SI                  25
10            ALOJ016             2000      SI                  30
11            ALOJ018             1900      SI                  25
12            ALOJ019             1570      NO                   0
13            ALOJ020             1580      NO                   0

Como en anteriores ocasiones ha tenido problemas de intentos de estafas con
otras agencias, el cliente pide que el % de reserva no sea muy alto, pero tampoco
tan bajo (porque le genera inseguridad) por lo que propone un 25%

In [ ]:
consulta6 = """
         SELECT *
         FROM precio
         WHERE porcentaje_reserva = 25
"""
pd.read_sql(consulta6, conn)

  CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0            ALOJ002              780      SI                  25
1            ALOJ004             1600      SI                  25
2            ALOJ008             1500      SI                  25
3            ALOJ010             1750      SI                  25
4            ALOJ015             1800      SI                  25
5            ALOJ018             1900      SI                  25

Quiere que el alojamiento tenga más de 4,5 puntos de confianza y que la agencia
que lo lleva tenga más de 4 puntos

In [ ]:
consulta7 = """
          SELECT *
          FROM puntuacion
          WHERE puntos >= 4.5
          AND puntos_agencia >= 4
"""
pd.read_sql(consulta7, conn)

   codigo_alojamiento  puntos            agencia  puntos_agencia
0             ALOJ001     5.0         GlobalHome             4.4
1             ALOJ004     4.6         CaribeRent             4.6
2             ALOJ007     4.9       SevillaRooms             4.5
3             ALOJ008     4.8          ChileVive             4.3
4             ALOJ009     4.7         MexicoRent             4.8
5             ALOJ010     4.8          UYAlquila             4.9
6             ALOJ014     4.7        BogotaLodge             4.5
7             ALOJ015     4.9  EasyStay Valencia             4.7
8             ALOJ017     4.9         CuscoRenta             4.4
9             ALOJ018     4.7       MendozaRooms             4.7
10            ALOJ019     4.9            GDLRent             4.2
11            ALOJ020     4.9           VivaStay             4.9

# SEGUNDO PASO

Creo la query conjunta con las consultas anteriores

In [ ]:
# En la consulta que hago, unifico todo a traves del identificador unico comun, y en el where no expecifico a que tabla pertence cada columna porque no se repiten
# si tuviera por ejemplo cantidad de baños en dos tablas ya si especificaria por ejemplo a.cant_banyos, pero como no es el caso no referencio a que tabla pertenecen

Consultaglobal = """
               SELECT *
               FROM alojamiento AS A 
               LEFT JOIN precio AS B ON A.codigo_alojamiento = B.codigo_alojamiento
               LEFT JOIN puntuacion AS C ON A.codigo_alojamiento = C.codigo_alojamiento
               LEFT JOIN ubicacion AS D ON A.codigo_alojamiento = D.codigo_alojamiento
               WHERE puntos >= 4.5 
               AND puntos_agencia >= 4
               AND porcentaje_reserva = 25
               AND precio_alquiler BETWEEN 1500 AND 2000 
               AND dist_metro > 1.0
               AND dist_centro > 2.0
               AND superficie >= 80
               AND salon = 'SI'
               AND cant_banyos >= 2
               AND terraza = 'SI'
               AND airec_acond = 'SI'
               AND piscina = 'NO'        
"""
pd.read_sql(Consultaglobal, conn)

,Codigo_alojamiento,Nombre,Cant_Banyos,Cant_Hab,Salon,Terraza,Airec_acond,Piscina,Superficie,CODIGO_ALOJAMIENTO,...,PORCENTAJE_RESERVA,codigo_alojamiento,puntos,agencia,puntos_agencia,Codigo_alojamiento,Pais,Ciudad,Dist_metro,Dist_Centro
0,ALOJ004,Piso Centro Histórico,2,3,SI,SI,SI,NO,90,ALOJ004,...,25,ALOJ004,4.6,CaribeRent,4.6,ALOJ004,Francia,Marsella,3.0,4.0
1,ALOJ010,Ático del Sol,3,3,SI,SI,SI,NO,88,ALOJ010,...,25,ALOJ010,4.8,UYAlquila,4.9,ALOJ010,España,Bilbao,2.0,5.0
2,ALOJ015,Dúplex Las Rocas,3,4,SI,SI,SI,NO,120,ALOJ015,...,25,ALOJ015,4.9,EasyStay Valencia,4.7,ALOJ015,España,Málaga,2.0,4.0
3,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100,ALOJ018,...,25,ALOJ018,4.7,MendozaRooms,4.7,ALOJ018,España,Ibiza,2.0,4.0

# TERCER PASO

¿Cuál es la suma total de metros cuadrados de los alojamientos que tienen piscina?

In [ ]:
Consulta8 = """
          SELECT SUM(superficie) AS Total_metros_piscina
          FROM alojamiento
          WHERE piscina = 'SI'
"""  
pd.read_sql(Consulta8, conn)

   Total_metros_piscina
0                 850.0

¿Cuál es el alojamiento con mayor superficie?

In [ ]:
Consulta9 = """
          SELECT codigo_alojamiento, nombre, superficie 
          FROM alojamiento
          WHERE superficie = (
           SELECT MAX(superficie)
           FROM alojamiento
           )       
"""  
pd.read_sql(Consulta9, conn)

  codigo_alojamiento                 nombre  superficie
0            ALOJ017  Chalet Jardín Secreto         180

¿Cuál es el alojamiento con menor superficie?

In [ ]:
Consulta10 = """
          SELECT codigo_alojamiento, nombre, superficie 
          FROM alojamiento
          WHERE superficie = (
           SELECT MIN(superficie)
           FROM alojamiento
           )
           
"""  
pd.read_sql(Consulta10, conn)

  codigo_alojamiento          nombre  superficie
0            ALOJ016  Estudio Urbano          35

¿Cuántos alojamientos tienen salón?

In [ ]:
Consulta11 = """
           SELECT COUNT(codigo_alojamiento) AS total_alojamientos_con_salon
           FROM alojamiento
           WHERE salon = 'SI'
"""
pd.read_sql(Consulta11, conn)

   total_alojamientos_con_salon
0                            16

¿Cuántos alojamientos tienen terraza?

In [ ]:
Consulta12 = """
           SELECT COUNT(codigo_alojamiento) AS total_alojamientos_con_terraza
           FROM alojamiento
           WHERE terraza = 'SI'
"""
pd.read_sql(Consulta12, conn)

   total_alojamientos_con_terraza
0                              14

¿Cuántos alojamientos hay por cada país según nuestra tabla de UBICACIÓN?

In [ ]:
Consulta13 = """
           SELECT Pais, COUNT(codigo_alojamiento) as Total_Alojamientos
           FROM ubicacion
           GROUP BY pais
           ORDER BY pais ASC
"""  
pd.read_sql(Consulta13, conn)

       Pais  Total_Alojamientos
0    España                   8
1   Francia                   4
2    Italia                   4
3  Portugal                   4

¿Cuál es el promedio de precios de alquiler de todos los alojamientos según la
tabla PRECIO?

In [ ]:
Consulta14 = """
           SELECT AVG(precio_alquiler) AS media_precios_alquiler
           FROM precio 
"""  
pd.read_sql(Consulta14, conn)

   media_precios_alquiler
0                  1568.4

¿Cuáles son las 3 agencias que tienen la mayor puntuación de agencia (campo a
usar: PUNTOS_AGENCIA) según la tabla PUNTUACION?

In [ ]:
Consulta15 = """
           SELECT agencia, puntos_agencia
           FROM puntuacion
           ORDER BY puntos_agencia DESC
           LIMIT 3
"""  
pd.read_sql(Consulta15, conn)

      agencia  puntos_agencia
0    VivaStay             4.9
1   UYAlquila             4.9
2  TerraHouse             4.9

Muestra los alojamientos (código y nombre) que: Contengan la palabra ‘Piso’ en su
nombre o que tengan piscina y aire acondicionado, pero no pasen los 150 metros
de superficie o que tengan más de un baño

In [ ]:
# Solo es necesario las dos primeras columnas pero incluyo las demas para confirmar que esta bien planteado

Consulta16 = """
           SELECT codigo_alojamiento, nombre, piscina, airec_acond, superficie, cant_banyos
           FROM alojamiento
           WHERE (nombre LIKE '%piso%'
           OR (piscina = 'SI' AND airec_acond = 'SI'))
           AND superficie < 150 
           OR cant_banyos > 1
         
"""  
pd.read_sql(Consulta16, conn)

,codigo_alojamiento,nombre,piscina,airec_acond,superficie,cant_banyos
0,ALOJ001,Villa Sol del Mar,SI,SI,120,2
1,ALOJ004,Piso Centro Histórico,NO,SI,90,2
2,ALOJ006,Chalet Vista al Lago,SI,SI,150,3
3,ALOJ007,Dúplex Jardines del Sur,SI,SI,130,2
4,ALOJ009,Casa Rústica Montaña,NO,NO,85,2
5,ALOJ010,Ático del Sol,NO,SI,88,3
6,ALOJ012,Villa Palmeras,SI,SI,110,2
7,ALOJ014,Casa del Mar,SI,SI,160,3
8,ALOJ015,Dúplex Las Rocas,NO,SI,120,3
9,ALOJ017,Chalet Jardín Secreto,SI,SI,180,3
10,ALOJ018,Piso Parque Central,NO,SI,100,2
11,ALOJ019,Casa Río Claro,NO,NO,95,2

Muestra una consulta que muestre el código de alojamiento, el nombre, el precio y
una columna donde veamos el precio del alquiler con el símbolo del euro al final de
cada importe, esta nueva columna se debe llama PRECIO_MODIF

In [ ]:
Consulta17 = """
           SELECT A.codigo_alojamiento, A.nombre, B.precio_alquiler, CONCAT(precio_alquiler,'€') AS precio_modif
           FROM alojamiento AS A
           LEFT JOIN precio AS B ON A.codigo_alojamiento = B.codigo_alojamiento       
"""  
pd.read_sql(Consulta17, conn)

   codigo_alojamiento                    nombre  precio_alquiler precio_modif
0             ALOJ001         Villa Sol del Mar             1800        1800€
1             ALOJ002  Apartamento Las Palmeras              780         780€
2             ALOJ003         Cabaña El Refugio              800         800€
3             ALOJ004     Piso Centro Histórico             1600        1600€
4             ALOJ005      Estudio Playa Blanca              900         900€
5             ALOJ006      Chalet Vista al Lago             1200        1200€
6             ALOJ007   Dúplex Jardines del Sur             1300        1300€
7             ALOJ008               Loft Urbano             1500        1500€
8             ALOJ009      Casa Rústica Montaña             1600        1600€
9             ALOJ010             Ático del Sol             1750        1750€
10            ALOJ011   Cabaña Bosque Encantado             1825        1825€
11            ALOJ012            Villa Palmeras             1750        1750€
12            ALOJ013       Apartamento Moderno             1652        1652€
13            ALOJ014              Casa del Mar             1941        1941€
14            ALOJ015          Dúplex Las Rocas             1800        1800€
15            ALOJ016            Estudio Urbano             2000        2000€
16            ALOJ017     Chalet Jardín Secreto             2120        2120€
17            ALOJ018       Piso Parque Central             1900        1900€
18            ALOJ019            Casa Río Claro             1570        1570€
19            ALOJ020       Loft Estación Norte             1580        1580€

Muestra una columna sobre la tabla PRECIO que se llame CATEGORIA_PRECIO y
que indique la palabra ‘Bajo’ si el precio está entre 780 y 1000, ‘Medio’ si el precio
está entre 1000 y 1700 y ‘Alto’ si es mayor a 1700

In [ ]:
Consulta18A = """
           SELECT codigo_alojamiento, reserva, porcentaje_reserva, precio_alquiler,
           CASE 
            WHEN precio_alquiler BETWEEN 780 AND 1000 THEN 'Bajo'
            WHEN precio_alquiler BETWEEN 1000 AND 1700 THEN 'Medio'
            WHEN precio_alquiler > 1700 THEN 'Alto'
            ELSE 'Sin categoria'
            END AS Categoria_precio 
           FROM precio     
"""  
pd.read_sql(Consulta18A, conn)

,codigo_alojamiento,reserva,porcentaje_reserva,precio_alquiler,Categoria_precio
0,ALOJ001,SI,100,1800,Alto
1,ALOJ002,SI,25,780,Bajo
2,ALOJ003,NO,0,800,Bajo
3,ALOJ004,SI,25,1600,Medio
4,ALOJ005,NO,0,900,Bajo
5,ALOJ006,NO,0,1200,Medio
6,ALOJ007,NO,0,1300,Medio
7,ALOJ008,SI,25,1500,Medio
8,ALOJ009,SI,100,1600,Medio
9,ALOJ010,SI,25,1750,Alto
10,ALOJ011,NO,0,1825,Alto
11,ALOJ012,NO,0,1750,Alto
12,ALOJ013,NO,0,1652,Medio
13,ALOJ014,NO,0,1941,Alto
14,ALOJ015,SI,25,1800,Alto
15,ALOJ016,SI,30,2000,Alto
16,ALOJ017,NO,0,2120,Alto
17,ALOJ018,SI,25,1900,Alto
18,ALOJ019,NO,0,1570,Medio
19,ALOJ020,NO,0,1580,Medio